@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

:root {
  --main: #333;
  --sub: #999;
  --back: #fff;
  --back-2: #eee;
  --shadow: rgba(0, 0, 0, 0.19);
  --primary: #4e67b0;
  --danger: #ef5350;
}

html,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Yu Gothic', YuGothic, Verdana, Meiryo, 'M+ 1p',
    sans-serif;
}
body {
  background-color: var(--back);
  color: var(--main)
}

img {
  max-width: 100%;
  display: block;
}